<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script>
<script language="javascript" type="text/javascript" src="js/common.js"></script>
<script language="javascript">
	$(function() {
		$(".modalClose").click(function() {
			$(window.parent.document).find(".modalClose").trigger('click');
		})
		
		$(".sure").click(function() {
			parent.document.getElementById("clusterId").value=parent.document.getElementById("clusterIdK").value;
			
			document.getElementById("list").value=parent.document.getElementById("listK").value;
			
			document.getElementById("selectForm").submit();
		})
	});
	
</script>
</head>

<body class="pop pop_del">
<div class="pop_tipmessage_choose">
<div class="pop_close modalClose tip_close"></div>
<form id="selectForm" name="selectForm" method="POST" action="propertyReload.htm">
 <table cellpadding="0" cellspacing="0" >
  <tr><th>
		<input id="list" name="list" type="hidden" value="-1" />
		<input id="type" name="type" type="hidden" value="$!{type}" />
  </th></tr>
  <tr><td style="text-align:left;">$!{info}</td></tr>
  <tr><td class="pop_tip_btn"><div class="login_btn right modalClose"><a href="#">取消</a></div><div class="login_btn right sure"><a href="#">确定</a></div></td></tr>
 </table>
</form>
</div>
</body>
</html>
