<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript" type="text/javascript" src="js/common.js"></script>
<script language="javascript">
	
	function showModal(src, height, width){
    	jQuery.modal('<iframe src="' + src + '" height="' + height + '" width="'+ width +'" frameborder="0" allowTransparency=true>', {
    		closeHTML : "<input type='button' style='display:none'/>",
    		closeClass: "modalClose",
    		opacity : 35,
    		overlayCss : {
    			backgroundColor: "#000"
    		}
    	});
    }
	
	function checkbox()
    {
    	var box = document.getElementById("checkbox");
    	var cobararray = document.getElementsByName("cobar");
    	if(box.checked){
    		for(var i=0;i<cobararray.length;i++){
				if (cobararray[i].disabled == false){
    				cobararray[i].checked=true;
				}
    		}
    	}else{
    		for(var i=0;i<cobararray.length;i++){
    			cobararray[i].checked=false;
    		}
    	
    	}
    }
	
	function getCheckedValue(){
		var flag=false;
    	var cobararray = document.getElementsByName("cobar");
		var str = "";
		for(var i=0;i<cobararray.length;i++){
			if(cobararray[i].checked){
				flag = true;
				if(str == ""){
					str +=cobararray[i].value;
				}else{
					str += ",";
					str +=cobararray[i].value;
				}
			}
			
		}
		if (flag == false){
			return false;
		}
		return str;
	}
	
	function configReload(){
		var str = getCheckedValue();
		if(str == false){
			showModal("alert.htm?reason=1", 500, 720);
			return;
		}
		document.getElementById("listK").value = str;
		
		showModal("propertyConfirm.htm?type=configReload", 500, 720);
		return;
		
		var confirm = window.confirm("确认进行配置重载？");
		if (!confirm){
			return;
		}
		
		document.getElementById("clusterId").value = document.getElementById("clusterIdK").value;
		
		var src="propertyReload.htm?list="+str+"&type=configReload";
		showModal(src,500,720);
	}
	
	function configRollback(){
		var str = getCheckedValue();
		if(str == false){
			showModal("alert.htm?reason=1", 500, 720);
			return;
		}
		
		document.getElementById("listK").value = str;
		
		showModal("propertyConfirm.htm?type=configRollback", 500, 720);
		return;
		
		var confirm = window.confirm("确认进行配置回滚？");
		if (!confirm){
			return;
		}
		
		document.getElementById("clusterId").value = document.getElementById("clusterIdK").value;
		var src="propertyReload.htm?list="+str+"&type=configRollback";
		showModal(src,500,720);
		
	}
	
    </script>
</head>
<body>
#parse("template/menu_c.vm")

<div class="main">
   <div class="title">
  <h2>配置重载</h2></div>
  <div class="crumbs">控制模块&nbsp;&gt;&nbsp;配置重载</div>
  <div style="clear:both;">
	<form id="selectForm" name="selectForm" method="POST" action="propertyReloadScreen.htm">
    <table border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
      <tr>
        <td><img src="images/search_global_l.png" width="78" height="32" /></td>
        <td background="images/search_global_m.png">所属集群：</td>
        <td background="images/search_global_m.png"><span style="color:#000; background-image:url(images/search_m.png);">
         <select name="clusterId" id="clusterId" class="setting_select">
            #foreach($c in $cList)
				#if($clusterId == ${c.id})
					<option value="${c.id}" selected>$!{c.name}</option>
				#else
					<option value="${c.id}">$!{c.name}</option>
				#end
			#end
         </select>
        </span></td>
		<td>
			<input id="clusterIdK" name="clusterIdK" type="hidden" value="$!{clusterId}"></input>
			<input id="listK" name="listK" type="hidden" value=""></input>
		</td>
        <td><img src="images/search_global_r3.png" width="2" height="32" /></td>
        <td><a class="search_btn" href="javascript:void(document.getElementById('selectForm').submit())"></a></td>
        <td><img src="images/search_global_r2.png"/></td>
      </tr>
    </table>
	</form>
  </div>
  <div style="padding:15px 15px 15px 15px; background-color: #F5F5F5; border: #E1E1E1 1px solid;">
  <div style="margin-bottom:8px">
    <table border="0" cellpadding="0" cellspacing="0">
       <tr>
         <td style="padding-right:10px;"><div class="btn4"><a href="javascript:configReload()">配置重载</a></div></td>
         <td style="padding-right:10px;"><div class="btn4"><a href="javascript:configRollback()">配置回滚</a></div></td>
      </tr>
    </table>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" class="list" id="table_o">
     <tr>
       <th > <input type="checkbox" name="checkbox" id="checkbox" onclick="javascript:checkbox()" /></th>
		<th style="text-align:right;">序号</th>
		<th >Cobar</th>
		<th >HOST</th>
		<th >状态</th>
		<th >最后重载时间</th>
		<th >最后回滚时间</th>
     </tr>
	#foreach($c in $cobarList)
	<tr> 
		<td > 
			#if(${c.status}=="Active")
				<input type="checkbox" name="cobar" value="${c.id}" />
			#else
				<input type="checkbox" name="cobar" value="${c.id}" disabled="true"/>
			#end
		</td>
		<td style="text-align:right;">$velocityCount</td>
		<td >${c.name}</td>
		<td >${c.host}</td>
		<td >
			#if(${c.status}=="Active")
				连接正常
			#elseif(${c.status}=="InActive")
				禁用
			#else
                <font color="red">连接异常</font>
			#end
		</td>
		<td >${c.reloadTime}</td>
		<td >${c.rollbackTime}</td>
	</tr>
	#end
  </table>
  </div>
</div>
#include("template/footer.vm")
</body>
</html>
