<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
</head>
<body>
#parse("template/menu_v.vm")
<div class="main">
<div class="pop_tipmessage_forbidden" style="width:800px;height:380px">
</div>
#include("template/footer.vm")
</div>
</body>
</html>
