<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script language="javascript" type="text/javascript">
$(function() {
	$(".modalClose").click(function() {
		window.parent.location = 'index.htm';
		$(window.parent.document).find(".modalClose").trigger('click');
	});
});
</script>
</head>

<body class="pop">
<div class="pop_tipmessage">
<div class="pop_close modalClose tip_close"></div>
 <table cellpadding="0" cellspacing="0" >
	<tr ><th >登陆失败，原因可能为：</th></tr>
    <tr ><th >1.用户名或者密码错误。</th></tr>
    <tr ><th >2.您的使用权限被封禁。</th></tr>
  <tr><td class="pop_tip_btn"><div class="login_btn right modalClose"><a href="#">确定</a></div></td></tr>
 </table>
</div>
</body>
</html>
