<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script language="javascript" type="text/javascript" src="js/common.js"></script>
<script language="javascript" type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script language="javascript" type="text/javascript" src="js/jquery.simplemodal-1.4.js" ></script>
<script language="javascript" type="text/javascript" src="js/FormValidate.js"></script>
<script language="javascript">
$(document).ready(function() { 
	$(".modalClose").click(function() {
		//$(window.parent.document).find(".modalClose").trigger('click');
		//window.parent.location.reload();
		window.parent.location = "index.htm";
	})
});

function checkForm(){
	var user = document.getElementById('userName').value;
	var flag = true;
	if(Trim(user) == ""){
		setTipsWarn('userNameSpan',"用户名不能为空");
		flag=false;
	}
		
	var pwd = document.getElementById('password').value;
	if(Trim(pwd) == ""){
		setTipsWarn('passwordSpan',"密码不能为空");
		flag=false;
	}
	if(!flag){
		return;
	}
	parent.document.getElementById("userName").value = document.getElementById("userName").value;
	parent.document.getElementById("password").value = document.getElementById("password").value;
	parent.document.getElementById("logInForm").submit();
}

$(document).keydown(function(event) {
  if (event.keyCode == 13) {
  	 checkForm();
  }
}); 

</script>
</head>
<body class="pop" onload="document.getElementById('userName').focus();">
<table cellpadding="0" cellspacing="0" class="pop_top">
 <tr>
  <td width="" class="pop_lefttop_small">
    <div><h1>用户登录:</h1></div>
  </td>
  <td valign="top" class="pop_righttop_small"><div class="pop_close modalClose"></div></td>
 </tr>
</table>
<form id="logInForm" name="logInForm" method="POST" action="login.do">
<table cellpadding="0" cellspacing="0" class="pop_mid">
 <tr>
  <td class="pop_left"></td>
  <td valign="top" class="pop_content">
  <table border="0" cellspacing="0" cellpadding="0" class="pop_box">
     <tr>
       <th> 用户名 :</th>
       <td><input name="userName" id="userName" type="text" style="float:left; margin-right:5px; vertical-align:bottom;"
	   onfocus="javascript:setTipsClean('userNameSpan')" /></td>
	   <td ><span id="userNameSpan">&nbsp;</span></td>
     </tr>
     <tr>
       <th> 密码 :</th>
	    <td><input name="password" id="password" type="password" style="float:left; margin-right:5px; vertical-align:bottom;"  
		onfocus="javascript:setTipsClean('passwordSpan')" /></td>
		<td ><span id="passwordSpan">&nbsp;</span></td>
     </tr>
  </table>
  </div>
    <div class="btn_update">
      <div class="btn" style="margin:0 0 10px 200px;"><a href="javascript:checkForm()">登录</a></div>
      <div class="btn modalClose" style="margin:0 0 10px 50px;"><a href="#">取消</a></div>
    </div>
  </td>
  <td class="pop_right"></td>
 </tr>
 <tr>
  <td class="pop_leftbottom_small"></td>
  <td class="pop_midbottom_small"></td>
  <td class="pop_rightbottom_small"></td>
 </tr>
</table>
</form>
</body>
</html>