<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	$(function() {
		function showModal(src, height, width){
			jQuery.modal('<iframe src="' + src + '" height="' + height + '" width="'+ width +'" frameborder="0" allowTransparency=true>', {
				closeHTML : "<input type='button' style='display:none'/>",
				closeClass: "modalClose",
				opacity : 35,
				overlayCss : {
					backgroundColor: "#000"
				}
			});
		}
		
		$(".addCluster").click(function(){
			showModal("addCluster.htm",500,720);
		});
		$(".addCobar").click(function(){
			showModal("addCobar.htm?clusterId=-1",500,720);
		});
		
		#foreach($c in $clusterList)
		$("#edit_${c.id}").click(function() {
			var src = "editClusterPage.htm?clusterId=${c.id}";
			showModal(src, 500, 720);
		});
		#end
	});
</script>
</head>
<body>
#parse("template/menu_m.vm")

<div class="main">
   <div class="title">
  <h2>集群管理</h2></div>
  <div class="crumbs">系统管理 &nbsp;&gt;&nbsp;集群管理</div>
  <div style="clear:both;"></div>
  <div style="padding:15px 15px 15px 15px; background-color: #F5F5F5; border: #E1E1E1 1px solid;">
  <div style="margin-bottom:8px">
    <table border="0" cellpadding="0" cellspacing="0">
       <tr>
         <td style="padding-right:10px;"><div class="btn4"><a href="#" class="addCluster">新增集群</a></div></td>
         <td style="padding-right:10px;"><div class="btn4"><a href="#" class="addCobar">新增Cobar </a></div></td>
      </tr>
    </table>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" class="list" id="table_o">
     <tr>
        <th>序号</th>
        <th>集群名称</th>
		<th>部署接口人</th>
        <th>运维接口人</th>
        <th>上线时间</th>
        <th>Cobar数目</th>
		<th>排序</th>
		<th>编辑</th>
     </tr>
	 #foreach($c in $clusterList)
        <tr>
            <td>$velocityCount</td>
            <td>
                <a href="m_cobarList.htm?clusterId=${c.id}">${c.name}</a>
            </td>
			<td>${c.deployContact}</td>
            <td>${c.maintContact}</td>
            <td>${c.onlineTime}</td>
            <td>${c.cobarNum}</td>
			<td>${c.sortId}</td>
			<td title="修改集群信息"><a href="#" class="edit" id="edit_${c.id}">[&nbsp;编辑&nbsp;]</a></td>
        </tr>
     #end
  </table>
  </div>
</div>
#include("template/footer.vm")
</body>
</html>
