<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>CobarManager</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<link type="text/css" href="css/skin.css" rel="stylesheet"/>
<link type="text/css" href="css/cobar.css" rel="stylesheet"/>
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
$(function() {
			
	function showModal(src, height, width){
		jQuery.modal('<iframe src="' + src + '" height="' + height + '" width="'+ width +'" frameborder="0" allowTransparency=true>', {
			closeHTML : "<input type='button' style='display:none'/>",
			closeClass: "modalClose",
			opacity : 35,
			overlayCss : {
				backgroundColor: "#000"
			}
		});
	}
	$(".addUser").click(function(){
		showModal("addUser.htm?",500,720);
	});
	
	#foreach($c in $uList)
	$("#edit_${c.id}").click(function() {
		var src = "editUserPage.htm?userId=${c.id}";
		showModal(src, 500, 720);
	});
	#end
	
	function megaHoverOver(){
		$(this).find(".sub").stop().fadeTo('fast', 1).show();
		//Calculate width of all ul's
		(function($) { 
			jQuery.fn.calcSubWidth = function() {
				rowWidth = 0;
				//Calculate row
				$(this).find("ul").each(function() {					
					rowWidth += $(this).width(); 
				});	
			};
		})(jQuery); 
		
		if ( $(this).find(".row").length > 0 ) { //If row exists...
			var biggestRow = 0;	
			//Calculate each row
			$(this).find(".row").each(function() {							   
				$(this).calcSubWidth();
				//Find biggest row
				if(rowWidth > biggestRow) {
					biggestRow = rowWidth;
				}
			});
			//Set width
			$(this).find(".sub").css({'width' :biggestRow});
			$(this).find(".row:last").css({'margin':'0'});
		} else { //If row does not exist...
			$(this).calcSubWidth();
			//Set Width
			$(this).find(".sub").css({'width' : rowWidth});
		}
	}
	function megaHoverOut(){ 
	  $(this).find(".sub").stop().fadeTo('fast', 0, function() {
		  $(this).hide(); 
	  });
	}
	var config = {    
		 sensitivity: 1, // number = sensitivity threshold (must be 1 or higher)    
		 interval: 100, // number = milliseconds for onMouseOver polling interval    
		 over: megaHoverOver, // function = onMouseOver callback (REQUIRED)    
		 timeout: 200, // number = milliseconds delay before onMouseOut    
		 out: megaHoverOut // function = onMouseOut callback (REQUIRED)    
	};

});
</script>
</head>
<body>
#parse("template/menu_m.vm")

<div class="main">
   <div class="title">
  <h2>用户管理</h2></div>
  <div class="crumbs">系统管理&nbsp;&gt;&nbsp;用户管理</div>
  <div style="clear:both;"></div>
  <div style="padding:15px 15px 15px 15px; background-color: #F5F5F5; border: #E1E1E1 1px solid;">
  <div style="margin-bottom:8px">
    <table border="0" cellpadding="0" cellspacing="0">
       <tr>
         <td style="padding-right:10px;"><div class="btn4"><a href="#" class="addUser">新增用户 </a></div></td>
      </tr>
    </table>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" class="list" id="table_o">
     <tr>
        <th>序号</th>
        <th>类型</th>
        <th>姓名</th>
		<th>用户名</th>
        <th>状态</th>
		<th>编辑</th>
     </tr>
	 #foreach($c in $uList)
        <tr>
            <td>$velocityCount</td>
            <td>#if(${c.user_role} == "System_Admin")系统管理员
				#else 集群管理员 #end
			</td>
            <td>${c.realname}</td>
            <td>${c.username}</td>
            <td>#if(${c.status}=="Normal") 激活
				#else 禁用 #end
			</td>
            <td title="修改用户信息"><a href="#" class="edit" id="edit_${c.id}">[&nbsp;编辑&nbsp;]</a></td>
        </tr>
    #end
  </table>
  </div>
</div>
#include("template/footer.vm")
</body>
</html>
