@charset "gbk";
/* CSS Document */
/*head*/
.head{
	min-width:1150px;
    height:78px; 
	background-image:url(../images/head_bg.png);
}
/*login*/
.login{
	background-image:url(../images/login_bg.png);
	background-repeat:repeat-x ;
	background-color:#f5f5f6;
}
.login_container{
	width:100%;
	margin-top:200px;
	height:231px;
}
.login_box{
	margin:0 auto;
    background-image: url(../images/login_box.png); 
    width:804px; 
	height:231px;
}
/*menu*/
.nav{ 
	color:#FFF;
    background-image:url(../images/nav_bg.png); 
	min-width:1150px;
	height:31px;
}
.nav ul li a:hover{
	background-image:url(../images/nav_pass.png);
}
.nav ul li.current:hover > a{
    background:url(../images/nav_btn_bg22.png) no-repeat 0 -31px;
	color:#fff;
}

.nav ul li.current2:hover > a{
    background:url(../images/nav_btn_bg22.png) no-repeat 0 -31px;
	color:#fff;
}

.nav ul li.current{
	background-image:url(../images/nav_selected.png); 
	background-position:right;
}
.nav ul li.current a:hover{
	background:url(../images/nav_btn_bg44.png) no-repeat 0 -31px;
}
.nav ul li.current ul li a:hover{
    background-color:#64a6fd;
	background-image:none;
}
.nav ul li ul,.nav ul li ul li{ 
    background-color:#3d8efa;
}
.nav ul li ul li a:hover{ 
    background-color:#64a6fd;
}

.nav ul li.current2{
	color:#000;
	background-image:url(../images/nav_btn_bg3.png); 
	background-position:right;
}
.nav ul li.current2 a:hover{
	background:url(../images/nav_btn_bg22.png) no-repeat 0 -31px;
}

.nav ul li.current2 ul li a:hover{
    background-color:#64a6fd;
	background-image:none;
}


/*table*/
table.list th{
    background:url(../images/table_title_bg.png) repeat-x;
}
table.list th.head_title{
	background:url(../images/table_title_bg.png);
	width:10px;
	height:29px;
}

table.list2 th{
    background:#f5f5f5;
}
table.list2 th.head_title{
	background:#f5f5f5;
	width:10px;
	height:29px;
}


table.listr th{
    background:#f5f5f5;
}
table.listr th.head_title{
	background:#f5f5f5;
	width:10px;
	height:29px;
}


/*tab*/
.menubox{
	background:url(../images/tab_bg2.png);
	height:29px;
	width:100%;
}

/*pop*/
table.pop_top td.pop_lefttop_small{
	background:url(../images/pop_lefttop_small.png);
	width:542px;
	height:105px;
}
.pop_tipmessage_s{
	background:url(../images/tip_s.png);
}
.pop_tipmessage{
	background:url(../images/tip_warning.png);
}
.pop_tipmessage_choose{
	background:url(../images/tip_choose.png);
}
.pop_tipmessage_del{
	background:url(../images/tip_del.png);
}
.pop_tipmessage_succeed{
	background:url(../images/tip_succeed.png);
}
.pop_tipmessage_forbidden{
	background:url(../images/forbidden.png);
}
.pop_tipmessage,.pop_tipmessage_choose,.pop_tipmessage_del,.pop_tipmessage_succeed,.pop_tipmessage_s{
	width:720px;
	height:300px;
}

/*button*/
.btn{
	width:65px;
	height:20px;
    background:url(../images/button_normal.png);
	text-align:center;
	float:left;
	margin-right:5px;
	line-height:20px;
	display:block;
}
.btn a:hover{ 
	color: #C60;
	width:65px;
	height:20px;
    background:url(../images/button_hover.png);
	text-align:center;
	float:left;
	margin-right:5px;
	display:block;
}

.login_btn{
	width:65px;
	height:20px;
    background:url(../images/login_btn_normal.png);
	text-align:center;
	margin-right:5px;
	line-height:20px;
	display:block;
}
.login_btn a:hover{ 
	color: #C60;
	width:65px;
	height:20px;
    background:url(../images/login_btn_hover.png);
	text-align:center;
	float:left;
	margin-right:5px;
	display:block;
}

.login_btn a{ 
	text-decoration:none; 
	color:#586573;
	display:block;
}

/*footer*/
.footer{
	margin:0;
	min-width:1150px;
	background:#808080;
	height:28px;
}

/*·­Ò³*/
.page{ 
    color:#2a7ec5;
	float:right;
	padding-bottom:5px;
}
.page a{
	color:#2a7ec5;
}
a.current_num{
	color:#f09a3e;
}
